<h1>Add Director</h1>
<form action="/create_director">
  <label for="name">Name</label>
  <input type="text" name="name" id="name"><br>

  <label for="bio">Bio</label>
  <input type="text" name="bio" id="bio"><br>
  <label for="image_url">Photo</label>
  <input type="text" name="image_url" id="image_url"><br>

  <label for="dob">Date of Birth</label>
  <input type="text" name="dob" id="dob"><br>
  <button>Create Director</button>

</form>
